<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>タイトル</title>
	<link rel="styleSheet" th:href="@{/css/base.css}">
	<script th:src="@{/js/common.js}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
</head>

<header>
	<nav class="menu">
		<div class="burger" onclick="toggleSideber()">
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
		</div>
			<form class="logout" th:action="@{/logout}" method="POST">
				<input type="submit" value="ログアウト">
			</form>
		
	</nav>
	
</header>

<body>
	<div class="sideber" id="sideber-id">
		<div class="sideber-close">
			<div  onclick="toggleSideber()" class="sideber-close-btn"></div>
			<span class="sideber-close-text">閉じる</span>
		</div>
		<div class="sideber-content">
			<ul class="sideber-content-list">
				<li class="sideber-content-item">
					<div class="content-wrapper">
						<img th:src="@{/img/inventory_white.svg}" class="sideber-content-item-img" />
						<div class="sideber-content-item-header">
							在庫情報
						</div>
						<div class="inequality-sign-wrapper" id="id1">
							<img th:src="@{/img/inequality_sign.svg}" class="inequality-sign-img" />
						</div>
					</div>
					<ul class="content-group">
						<li class="content-group-item" id="product-index">在庫一覧
						<img th:src="@{/img/inequality_sign_black.svg}" class="inequality-sign-img-black"/></li>
						<li class="content-group-item" id="product-add">製品登録
						<img th:src="@{/img/inequality_sign_black.svg}" class="inequality-sign-img-black" /></li>
						<li class="content-group-item" id="product-bulkinsert">製品一括登録
						<img th:src="@{/img/inequality_sign_black.svg}" class="inequality-sign-img-black" /></li>
						<li class="content-group-item" id="composition-bulkinsert">構成品一括登録
						<img th:src="@{/img/inequality_sign_black.svg}" class="inequality-sign-img-black" /></li>
						<li class="content-group-item" id="product-shipping">入出庫管理
						<img th:src="@{/img/inequality_sign_black.svg}" class="inequality-sign-img-black" /></li>
					</ul>
				</li>
				<li class="sideber-content-item">
					<div class="content-wrapper">
						<img th:src="@{/img/order_document_white.svg}" class="sideber-content-item-img" />
						<div class="sideber-content-item-header">
							注文書情報
						</div>
						<div class="inequality-sign-wrapper" id="id1">
							<img th:src="@{/img/inequality_sign.svg}" class="inequality-sign-img" />
						</div>
					</div>
					<ul class="content-group">
						<li class="content-group-item" id="order-index">注文書一覧
						<img th:src="@{/img/inequality_sign_black.svg}" class="inequality-sign-img-black"/></li>
						<li class="content-group-item" id="order-add">注文書作成
						<img th:src="@{/img/inequality_sign_black.svg}" class="inequality-sign-img-black" /></li>
					</ul>
				</li>
				<li class="sideber-content-item">
					<div class="content-wrapper">
						<img th:src="@{/img/person_white.svg}" class="sideber-content-item-img" />
						<div class="sideber-content-item-header">
							顧客情報
						</div>
						<div class="inequality-sign-wrapper" id="id1">
							<img th:src="@{/img/inequality_sign.svg}" class="inequality-sign-img" />
						</div>
					</div>
					<ul class="content-group">
						<li class="content-group-item" id="client-index">顧客一覧
						<img th:src="@{/img/inequality_sign_black.svg}" class="inequality-sign-img-black"/></li>
						<li class="content-group-item" id="client-add">顧客登録
						<img th:src="@{/img/inequality_sign_black.svg}" class="inequality-sign-img-black" /></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	
    <div layout:fragment="contents" class="main">
    </div>
    
</body>

</html>